<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', path='css/popup.css') }}">
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css">
    <title>Analyze Image</title>
</head>
<body>
    
    <main>
        <div class="container">
            <div class="form-box">

                <h1>Pick Image</h1>

                <form action="/analysis/analyze" method="post" enctype="multipart/form-data">
                    <div class="input-group">

                        <!-- <div class="input-field">
                            <i class="uil uil-envelope-alt"></i>
                            <input type="email" name="" placeholder="What to Analyze" id="">
                        </div> -->
                        <div class="input-field">
                            <i class="uil uil-envelope-alt"></i>
                            <select id="model" name="model">
                                <option value="maize">Maize</option>
                                <option value="tomato">Tomato</option>
                                <option value="pest">Pest</option>
                            </select>
                        </div>
                        <div class="input-field">
                            <i class="uil uil-envelope-alt"></i>
                            <input type="file" name="file" placeholder="" id="">
                        </div>

                    </div>

                    <div class="btn-field">
                        <button type="submit">Upload Image</button>
                    </div>

                </form>

            </div>
        </div>
    </main>

</body>
</html>